.app {
  .populardestinations__content,
  .valuetrips__content,
  .whychooseus__content,
  .articles__content {
    text-align: center;
  }

  .populardestinations__wrapcard,
  .valuetrips__wrapcard,
  .whychooseus__wrapcard,
  .articles__wrapcard {
    @include flexRow();
  }

  .bgsection {
    background-image: url("../../src/assets/bridgeRed.jpg");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
  }
}

//MOBILE
@media screen and (max-width: $breakpoint-md) {
  .app {
    .populardestinations__wrapcard,
    .valuetrips__wrapcard,
    .whychooseus__wrapcard,
    .articles__wrapcard {
      @include flexColum();
    }
  }
}
