//BREAKPOINTS
$breakpoint-sm: 375px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

//COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff4a52;
$color-gray-light: #cccccc;
$color-blue-facebook: #2d5f9a;
$color-blue-twitter: #00c3f3;
$color-red-youtube: #cc181e;
$color-red-pinterest: #bd081c;
$color-blue-instagram: #405de6;
$color-gray-subtitle: #8d9199;
$color-black-1: #222222;
$color-blue-star: #1ec6b6;
$color-input: #555555;
$color-modal: rgba(255, 255, 255, 0.85);
